{% extends "base_page.html" %}

{% block page-lead %}
<h2 class="text-center">Обычный калькулятор</h2>
<p class="text-center">Введите выражение в текстовое поле и нажмите кнопку для расчёта.</p>
<div>
<h3>Разрешенные операции:</h3>
Сложение: +<br/>
Вычитание: -<br/>
Умножение: *<br/>
Деление: /<br/>
Возведение в степень: **<br/>
Скобки: ()<br/>
</div>
{% endblock %}

{% block content %}
<div class="fs-3 row">
    <form class="col" method="post">
        {{ form.as_p }}
        <button type="submit" name="submit" class="col">Посчитать</button>
    </form>
</div>
<a href="/" class="text-center">На главную</a>
{% endblock %}