<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <!-- load static -->
    {% load static %}
    <!-- Bootstrap CSS -->
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <!-- favicon -->
    <link rel="icon" type="image/png" href="{% static 'favicon_calc_world.png' %}" />
</head>
<body class="container" style="background-image: url({% static 'background_image_calc_world.svg' %}); height: 100vh">
<main>
    <div class="container bg-light">
        <header class="border-bottom">
            <a href="/" class="text-dark text-decoration-none">
                <div class="fs-2">
                    <p class="text-center bg-light">Мир калькуляторов</p>
                </div>
            </a>
        </header>
        <div class="p-5 mb-4 bg-light rounded-3" id="title-box">
            <div class="container-fluid py-5">
                <p class="fs-4 text-center">{% block page-lead %}{% endblock %}</p>
            </div>
        </div>
        {% block content %}{% endblock %}
        <footer>
        <p class="text-dark bg-light text-center">Выполнил студент Аммосов Ярослав 2024</p>
        </footer>
    </div>
</main>
</body>
</html>