{% extends "base_page.html" %}

{% block page-title %}
Обычный калькулятор
{% endblock %}

{% block page-lead %}
Это страничка проекта про изучение математики. <br/>
Этот проект и его исходный код можно использовать как reference или источник вдохновения для своего проекта.
{% endblock %}

{% block content %}
 <div class="calculator">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="submit">=</button>
        </form>
        {% if result %}
        <p>Result: {{ result }}</p>
        {% endif %}
    </div>
{% endblock %}