{% extends "base_page.html" %}

{% block page-lead %}
На этом сайте вы найдёте калькуляторы для различных целей. <br/>
Вы сможете посчитать то, что вам нужно и сохранить полученный результат.
{% endblock %}

{% block content %}
<div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Калькуляторы</h5>
                    <p class="card-text">Калькуляторы для различных целей. Доступно: {{ calculators_count }}</p>
                    <ul class="list-group" style="max-height: 500px; overflow-y: auto;">
                        {% for calculator in calculators %}
                            <li class="list-group-item"><a href={{ calculator.URL }}>{{ calculator.name }}</a></li>
                        {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">История расчётов</h5>
                    <p class="card-text">Вы можете сохранить историю расчётов на различных калькуляторах и она отобразится здесь.</p>
                    <ul class="list-group" style="max-height: 500px; overflow-y: auto;">
                        <li class="list-group-item"><a href="#">Калькулятор 1</a></li>
                        <li class="list-group-item"><a href="#">Калькулятор 2</a></li>
                        <li class="list-group-item"><a href="#">Калькулятор 3</a></li>
                        <li class="list-group-item"><a href="#">Калькулятор 4</a></li>
                        <li class="list-group-item"><a href="#">Калькулятор 1</a></li>
                        <li class="list-group-item"><a href="#">Калькулятор 2</a></li>
                        <li class="list-group-item"><a href="#">Калькулятор 3</a></li>
                        <li class="list-group-item"><a href="#">Калькулятор 4</a></li>
                        <li class="list-group-item"><a href="#">Калькулятор 1</a></li>
                        <li class="list-group-item"><a href="#">Калькулятор 2</a></li>
                        <li class="list-group-item"><a href="#">Калькулятор 3</a></li>
                        <li class="list-group-item"><a href="#">Калькулятор 4</a></li>
                        <li class="list-group-item"><a href="#">Калькулятор 1</a></li>
                        <li class="list-group-item"><a href="#">Калькулятор 2</a></li>
                        <li class="list-group-item"><a href="#">Калькулятор 3</a></li>
                        <li class="list-group-item"><a href="#">Калькулятор 4</a></li>
                        <li class="list-group-item"><a href="#">Калькулятор 1</a></li>
                        <li class="list-group-item"><a href="#">Калькулятор 2</a></li>
                        <li class="list-group-item"><a href="#">Калькулятор 3</a></li>
                        <li class="list-group-item"><a href="#">Калькулятор 4</a></li>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}